
<header class="large">
  <div class="container">


    <nav>

      <a href="http://www.birsken.com"><img class="logo" src="../images/logo.svg"></a>


      <ul>
        <li><a class="nav-link home" id ="notactivelink">HOME</a></li>
        <li><a class="nav-link brownie" id="notactivelink" href="#">DIENSTEN</a></li>
        <li><a class="nav-link groenie" id="notactivelink" href="#">OVER<font color="white">-</font>ONS</a></li>
        <li><a class="nav-link foot" id="notactivelink" href="#">CONTACT</a></li>
      </ul>

    </nav>


<div class="matchmaking">
    <center>
        <a href=" https://www.facebook.com/birsken/" target="_blank">
            <img id="faceit" src="/images/facebook.svg">
        </a><br>
        <a href=" https://twitter.com/birskenhri" target="_blank">
            <img id="faceit" src="/images/twitter.svg">
        </a>
    </center>
    </div>
  </div>
</header>

    <!--<div class="col-xl-12">
<nav class="navbar navbar-fixed-top">
      <img id="logo" height="150" width="auto" src="images/logo.svg">

      <a class="nav-link home" id ="notactivelink">HOME</a>

      <a class="nav-link brownie" id="notactivelink" href="#">DIENSTEN</a>

      <a class="nav-link groenie" id="notactivelink" href="#">OVER-ONS</a>

      <a class="nav-link foot" id="notactivelink" href="#">CONTACT</a>


</nav>-->
    </div>

    <div class="col-xl-12">
      <div id="fixedup" class="card first">
        <div class="card-block">
          <h4 class="card-title fadein1"></h4>
          <p class="card-text fadein2">
            <div class="tekstBallon">
<div class="firstblockleft">
<p>
Birsken biedt Verzuimoplossingen en Loopbaanbegeleiding <br><br>
 1. Verzuimoplossingen voor u als werkgever <br><br>
“De beste manier om je medewerker te helpen is niet door hem beter te willen maken, maar om hem te helpen terug te keren naar werk.”
<br><br>
Verzuimkosten kunnen omlaag en complexe casuïstiek kan worden opgelost.
<br><br>
<p id="vink">&#10004;</p>Op Maat Begeleiding & Casemanagement
<br>
<p id="vink">&#10004;</p>Op Maat Workshops & Training
</p>


<center><img class="spinwheel" src="/images/icoon2.svg"/></center>

</div>


<div class="firstblockright">

<div id="one">
Is er sprake van een verzuimcasus waar even hulp bij nodig is?
</div>

<div id="two">
Een medewerker moet écht geholpen worden met een 2e spoortraject waarbij plaatsing wordt gerealiseerd?
</div>

<div id="three">
Is er sprake van oplopende schadelast? Doel: Besparing op verzuimkosten?
</div>

<div id="four">
Birsken biedt Directe Ondersteuning
</div>

<div id="five">
Birsken biedt Individuele Arbeidsmarkttrajecten
</div>

<div id="six">
Birsken biedt Op Maat Verzuim Oplossingen
</div>


<div id="seven">
Casemanagement
</div>

<div id="eight">
Re-integratie 2e spoor
</div>

<div id="nine">
Analyse, Advies, Training
</div>


</div>
            </div>

<center><div class="triangle2"></div></center>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card second">
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text"><center><div class="secondtekstballon">
            <div class="firstblockleft-card2">
            <p>
            2.  Loopbaanbegeleiding<br>

                “Een op maat traject waarvan uitgegaan wordt van benutting
                van de mogelijkheden biedt de beste kans op werk”<br>
                <br>
                Als het gaat om het vinden van een nieuwe werkplek is een
                veredelde standaard sollicitatietraining niet goed genoeg.<br>
                <br>
                Eerst goed kijken naar het doel van de individu, vervolgens
                pas de middelen bepalen.<br>
                <br>
                Re-integratie met resultaat<br>
                Outplacement met resultaat<br>
                Loopbaancoaching met resultaat<br>
            </p>


            <!--<center><img class="spinwheel" src="/images/icoon2.svg"/></center>-->

            </div>

            <div class="firstblockright-card2">

            <div id="one2">
              Hulp nodig bij het vinden van een baan?
            </div>

            <div id="two2">
              Is er sprake van een advies 2e spoortraject?
            </div>

            <div id="three2">
              Is het nodig om van baan te veranderen?
            </div>

            <div id="four2" style="width: 78.5%;">
            Birsken biedt individuele arbeidsmarkttrajecten
            </div>


            <div id="seven2">
              Loopbaancoaching en re-integratie
            </div>

            <div id="eight2">
            Re-integratie 2e spoor
            </div>

            <div id="nine2">
            Outplacement
            </div>

            <img  class="spinwheel2"src="images/tandwiel.svg">
            </div>


        </div></center>

          <center><div class="triangle3"></div></center>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="card third">
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text"><center><div class="tekstballon3">
              <div class="firstblockleft-card3">
                <div class="HRi"
              <p>
                  Birsken HRi is een jong en innovatief bedrijf met veel ervaring.
                  Birsken is een label waaronder meerdere zelfstandigen samen
                  werk kunnen verrichten. Dit zorgt voor continuïteit, maar levert
                  ook veel flexibiliteit op.
              </p>
            </div>
              <p>
                  Elk traject is Altijd Op Maat.
                  We bekijken altijd alles van
                  verschillende kanten en onze
                  inzichten en werkmethoden zijn
                  creatief en gedreven.
              </p>
              <p>
                  We zijn er voor werkgever en
                  werknemer voor wat betreft de
                  verzuimdienstverlening.
                  Met name zijn we expert in het
                  terugdringen van verzuimkosten.
              </p>
              <p>
                  Daarnaast begeleiden we
                  individuen (terug) naar werk.
             </p>
              </div>
              <div class="firstblockright3">
                <blockquote class="block">
                <p>
                  Waarom Birsken?
                </p>
                <p>
                  Birsken is onafhankelijk en hoeft geen blad
                  voor de mond te nemen.
                </p>
                <p>
                  We combineren de actuele kennis en ervaring
                  die hoort bij een Professioneel Casemanager
                  met meer dan 15 jaar kennis en ervaring van
                  de Arbeidsmarkt. Dit maakt het mogelijk voor
                  Birsken bij te kunnen dragen aan een integraal
                  1e, 2e en 3e spoor beleid.
                </p>

                  <p id="vink">&#10004;</p>Ervaring met complexe casuïstiek.<br>
                  <p id="vink">&#10004;</p>15 jaar arbeidsmarktervaring.<br>
                  <p id="vink">&#10004;</p>Op maat individuele begeleiding.<br>
                  <p id="vink">&#10004;</p>Gebruik maken van de<br> <p id="vink-pls">&#10004;</p>innovatievemogelijkheden van IT, dankzij<br> <p id="vink-pls">&#10004;</p>onze directe partner ViaICT.<br>
                  <p id="vink">&#10004;</p>Inhouse-ervaring
                </blockquote>


              </div>
            </div></center>
          <center><div class="triangle4"></div></center>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="card fourth">

          <h4 class="card-title"></h4>
          <p class="card-text"><center><div class="tekstballon">


              <div class="containerContact">
                <div class="col-lg-12">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="usr" style="margin-left:-53%;"></label>
                        <input type="text" placeholder="Naam" class="form-control" id="naam" style="border-width: 5px; border-color:white; border-radius:10px; margin-left: -53%; width: 50%; background-color: transparent; color: white;">
                        <font color="#fff"></font>
                      </div>
                      </div>


                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="pwd" style="margin-left:-195%;"></label>
                        <input type="email" placeholder="example@gmail.com" class="form-control" id="email" style="border-width: 5px; border-radius:10px; border-color:white; margin-left: -195%; width: 50%; background-color: transparent; color: white;">
                        <font color="#fff"></font>
                      </div>
                    </div>
                    </div>


                  <div  id="col-display" class="col-lg-6">
                   <div class="form-group">
                    <label for="comment"></label>
                    <textarea  placeholder="Uw bericht" class="form-control" rows="5" id="bericht" style="border-width: 5px; border-radius:10px; border-color:white; background-color: transparent; color: white; height: 200px;"></textarea>
                    <button type="button" class="btn btn-default submit">Verzenden</button>
                  </div>

                  <div class="col-lg-6">

                              <label for="pwd" style="margin-left:20%;"></label>
                              <div class="form-control" id="email" style="border-width: 5px; border-radius:10px; border-color:white;  width: 65%; background-color: transparent; color: white; height: 200px; text-align: left; margin-right: 100%;"> <div id="contact-text" <h5>E-mail:</h5> <p><a style="text-decoration: none; color: white; font-size: 15px;" href="mailto:info@birsken.com">info@birsken.com</a></p> <h5>Tel:</h5> <p>050 737 0291</p><h5>Adres:</h5><p>Osloweg 35a 9723BG</p></div> </div>
                                <font color="#fff"></font>


                    </div>
                              </center>

                              </div>
                              <div class="map">
                                <div style="width: 100%"><iframe width="1920" height="500" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=500&amp;hl=en&amp;q=Osloweg%2035a+(Birsken)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/pt/crie-um-google-map/">Gerar e embed código do Google Maps</a> on <a href="http://www.mapsdirections.info/pt/">Calcular Rota</a></iframe></div><br />
                              </div>
                              </p>
                              </div>

                        <div class="footer">
                          <h2>Birsken 2016 ©</h2>
                          <div class="voeten">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>




  <script>
$(document).ready(function(){
$('.fadein1').hide();
$('.fadein2').hide();


$('.fadein1').fadeIn(2000);
setTimeout(function () {
  $('.fadein2').fadeIn(1000)
}, 1500);


$(".home").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.first').offset().top - 175 }, 1500, 'easeInOutExpo');
});

$(".brownie").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.second').offset().top - 48 }, 1500, 'easeInOutExpo');
});

$(".groenie").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.third').offset().top - 48 }, 1500, 'easeInOutExpo');
});


$(".foot").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.fourth').offset().top - 48 }, 1500, 'easeInOutExpo');
});

// TRIANGLE BUTTONS
$(".triangle1").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.first').offset().top - 175 }, 1500, 'easeInOutExpo');
});

$(".triangle2").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.second').offset().top - 48 }, 1500, 'easeInOutExpo');
});

$(".triangle3").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.third').offset().top - 48 }, 1500, 'easeInOutExpo');
});

$(".triangle4").click(function(event){
event.preventDefault();
$('html, body').stop().animate({ scrollTop: $('.fourth').offset().top - 48 }, 1500, 'easeInOutExpo');
});

});
</script>

<script>
   $(document).ready(function(){
     $(".submit").click(function(e){
       e.preventDefault();
     var naam = $("#naam").val();
     var email = $("#email").val();
     var bericht = $("#bericht").val();

     if (naam == "" || email == "" || bericht == "") {
       return alert("Vul aub alle velden in");
     }

var email = {
 adres: email,
 naam: naam,
 bericht: bericht
};

$.ajax({
 type: 'POST',
 data: JSON.stringify(email),
     contentType: 'application/json',
             url: '/endpoint',
             success: function(data) {
               console.log("naar de server o.k..");
             }
         });

         $("#naam").val("");
         $("#email").val("");
         $("#bericht").val("");
         alert("Uw bericht is verzonden dank u voor uw bericht")

   });
   });


   </script>
