<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/easing.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/alertify.js"></script>
    <script src="/javascripts/classie.js"></script>
  </head>
  <body>
    <div class="container-fluid">
    {{{body}}}
  </div>
  </body>
</html>
